<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">Kosh App</div>
	<div class="list-group list-group-flush">
		<a href="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
		<a href="{% url 'members:index' %}" class="list-group-item list-group-item-action bg-light">Members</a>
		<a href="{% url 'transactions:add_member_to_transaction' %}" class="list-group-item list-group-item-action bg-light">Transaction</a>
		<a href="{% url 'members:monthly_saving' %}" class="list-group-item list-group-item-action bg-light">Monthly Saving</a>
	</div>
</div>
<!-- /#sidebar-wrapper -->

