{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create Member {% endblock %}
{% block content %}
<div class="row">
	<div class="col-7">
		<h1 class="content-header-title">Add New Member</h1>
	</div>
	<div class="col-6">
		{% crispy form %}

		{% comment %}<form action="" method="POST">{% endcomment %}
			{% comment %}{% csrf_token %}{% endcomment %}
			{% comment %}{{ form }}{% endcomment %}
			{% comment %}<input type="submit" value="Add" class="btn btn-success btn-lg mt-2 px-4">{% endcomment %}
		{% comment %}</form>{% endcomment %}
	</div>
</div>
{% endblock %}
