{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Update Member {% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<h1 class="content-header-title">Update Member</h1>
	</div>
	<div class="col-12">
		<button onclick="window.history.back();" class="btn btn-link">&lt;&lt;&lt; Go Back</button>
	</div>
	<div class="col-6">
		{% crispy form %}
	</div>
</div>
{% endblock %}
{% block js %}
	{% if member_update %}
	<script>
		$('#id_previous_due').attr('disabled', 'disabled');
	</script>
	{% endif %}
{% endblock %}
