{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Transactions | {% if member %} {{ member.name }} {% else %} {{ object.member.name }} {% endif %} | Kosh {% endblock %}
{% block content %}
<div class="row">
	<div class="col-12 my-2">
		<h1>Transaction | {% if member %} {{ member.name }} {% else %} {{ object.member.name }} {% endif %} </h1>
	</div>
	<div class="col-4">
		<button onclick="window.history.back();" class="btn btn-link">&lt;&lt;&lt; Go Back</button>
	</div>
	<div class="col-12">
		{% crispy form %}
	</div>
	{% if last_paid_date %}
	<div class="col-4 ml-auto">
		<p class="mt-1 py-1">Last Paid Date: {{ last_paid_date  }} </p>
	</div>
	{% endif %}

</div>
{% endblock %}
{% block js %}
<script>
	var previousMonthLoanValue = parseFloat($('#id_previous_month_loan').val());
	var monthlySavingValue = parseFloat($('id_monthly_saving').val());
	var interestValue = parseFloat($('id_interest').val());
	var fineValue = parseFloat($('id_fine').val());
	var othersValue = parseFloat($('id_others').val());
	var loanAmountPaidValue = parseFloat($('#id_loan_amount_paid').val());
	var additionalLoanAmountValue = parseFloat($('#id_additional_loan_amount').val());
	

	$(document).ready(function() {
		interest = (previousMonthLoanValue * 1) / 100;
		$('#id_interest').val(interest);

		remainingLoanAmount = previousMonthLoanValue - loanAmountPaidValue;
		$('#id_remaining_loan_amount').val(remainingLoanAmount);

		monthlySavingValue = parseFloat($('#id_monthly_saving').val())
		$('#id_total_amount_paid ').val(monthlySavingValue)
		totalLoanAmount = parseFloat(additionalLoanAmountValue) + parseFloat(remainingLoanAmount);
		$('#id_total_loan_amount').val(totalLoanAmount);
	})
	
	$('#id_loan_amount_paid').on('keyup', function() {
		remainingLoanAmount = previousMonthLoanValue - $(this).val();
		$('#id_remaining_loan_amount').val(remainingLoanAmount);

		totalLoanAmount = parseFloat(additionalLoanAmountValue) + parseFloat(remainingLoanAmount);
		$('#id_total_loan_amount').val(totalLoanAmount);
	})
	
	$('#id_additional_loan_amount').on('keyup', function() {
			totalLoanAmount = parseFloat($(this).val()) + parseFloat(remainingLoanAmount);
			$('#id_total_loan_amount').val(totalLoanAmount);
	})

	$('#id_monthly_saving').on('keyup', function() {
		interestValue = parseFloat($('#id_interest').val())
		fineValue = parseFloat($('#id_fine').val())
		othersValue = parseFloat($('#id_others').val())
		loanAmountPaidValue = parseFloat($('#id_loan_amount_paid').val())
		var totalAmountPaid = parseFloat($(this).val()) + interestValue + fineValue + othersValue + loanAmountPaidValue
		$('#id_total_amount_paid').val(totalAmountPaid)
	})
	
	$('#id_fine').on('keyup', function() {
		monthlySavingValue = parseFloat($('#id_monthly_saving').val())
		interestValue = parseFloat($('#id_interest').val())
		fineValue = parseFloat($(this).val())
		othersValue = parseFloat($('#id_others').val())
		loanAmountPaidValue = parseFloat($('#id_loan_amount_paid').val())

		totalAmountPaid = monthlySavingValue + interestValue + fineValue + othersValue + loanAmountPaidValue
		$('#id_total_amount_paid').val(totalAmountPaid)
	})

	$('#id_others').on('keyup', function() {
		monthlySavingValue = parseFloat($('#id_monthly_saving').val())
		interestValue = parseFloat($('#id_interest').val())
		fineValue = parseFloat($('#id_fine').val())
		othersValue = parseFloat($(this).val())
		loanAmountPaidValue = parseFloat($('#id_loan_amount_paid').val())

		totalAmountPaid = monthlySavingValue + interestValue + fineValue + othersValue + loanAmountPaidValue
		$('#id_total_amount_paid').val(totalAmountPaid)
	})

	$('#id_loan_amount_paid').on('keyup', function() {
		monthlySavingValue = parseFloat($('#id_monthly_saving').val())
		interestValue = parseFloat($('#id_interest').val())
		fineValue = parseFloat($('#id_fine').val())
		othersValue = parseFloat($('#id_others').val())
		loanAmountPaidValue = parseFloat($(this).val())

		totalAmountPaid = monthlySavingValue + interestValue + fineValue + othersValue + loanAmountPaidValue
		$('#id_total_amount_paid').val(totalAmountPaid)
	})

</script>)
{% endblock %}
