.member-table {
	height: 295px;
}
.transaction-table {
	height:400px;
}
.transaction-table, .member-table{
	overflow: hidden;
	overflow-y:scroll;
}


.transaction-table table {
	white-space: nowrap;
}

.transaction-table thead th {
	position: sticky;
	top: 0;
	background: #eee;
}
