div.table-wrapper {
	height: 350px;
	overflow: hidden;
	overflow-y: scroll;
}

div.transaction-table {
	height:400px;
	overflow-y:scroll;
}

.transaction-table table {
	white-space: nowrap;
}

.transaction-table thead th {
	position: sticky;
	top: 0;
	background: #eee;
}
